<!DOCTYPE html>
<html>
<head>
    <title>Flashcard</title>
</head>
<body>
     <nav>
        <a href="/">Home</a> |
        <a href="/add_vocab">Add Vocab</a> |
        <a href="/vocab_list">View List</a> |
        <a href="/flashcard">Flashcard</a>
    </nav>
    <hr>
    <h2>Flashcard</h2>

    <p><strong>{{ item.word }}</strong></p>

    {% if show_answer %}
        <p>Definition: {{ item.definition }}</p>
        <p>Chinese: {{ item.translation }}</p>
        <a href="/flashcard">Next Card</a>
    {% else %}
        <form method="POST">
            <button type="submit">Show Answer</button>
        </form>
    {% endif %}
</body>
</html>
