<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
     <nav>
        <a href="/">Home</a> |
        <a href="/add_vocab">Add Vocab</a> |
        <a href="/vocab_list">View List</a> |
        <a href="/flashcard">Flashcard</a>
    </nav>
    <hr>
    <h2>Login</h2>
    <form method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register here</a></p>
</body>
</html>
