<!DOCTYPE html>
<html>
<head>
    <title>Vocabulary List</title>
</head>
<body>
     <nav>
        <a href="/">Home</a> |
        <a href="/add_vocab">Add Vocab</a> |
        <a href="/vocab_list">View List</a> |
        <a href="/flashcard">Flashcard</a>
    </nav>
    <hr>
    <h2>Your Vocabulary List</h2>
    <ul>
        {% for item in vocabulary %}
            <li>
                <strong>{{ item.word }}</strong> – {{ item.definition }} ({{ item.translation }})
            </li>
        {% endfor %}
    </ul>
</body>
</html>
